@model IEnumerable<Baldu_Gamybos_IS.Models.Supplier>

@{
    ViewData["Title"] = "Supplier";
}

<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="~/css/warehouse.css"/>
        <style>
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .center {
                text-align:center;
            }

            #customers .wire {
                text-align: left; 
                position:relative; 
                right:9px;  
                border:0px
            }

            .header {
                background-color: coral;
            }
    </style>
</head>
<body>
    <center>
        <div class="container box" style="width:85%; margin-bottom:2%; min-width:700px;">
            <table id="customers" style="width:95%;">
                <tr style="background-color:white;">
                    <td colspan="3"  class="wire boxall" style="left:0px; width:95%">
                        <h3>
                            <b class="bold ">Tiekėjų sąrašas:</b>
                        </h3>
                    </td>
                    <br/>
                    <br/>
                </tr>
                @if (ViewData["Success"] != null)
                {
                    <div id="div-1">
                        <label class="pull-center" style="color:#42b947; font-size:30px;">Tiekėjas pašalintas!!!<br/></label>
                        <br/>
                    </div>
                    <script type="text/javascript">
                        setTimeout(() => {
                            const elem = document.getElementById("div-1");
                            elem.parentNode.removeChild(elem);
                        }, 3000);
                    </script>
                }
                <tr style="height: 40px;"></tr>
                <tr style="background-color:white;">
                    <td colspan="3" class="wire">
                        <a href="naujasŽaliava" class="btn button" name="submit">Naujas tiekėjas</a>
                    </td>
                </tr>
                <tr style="height: 10px;"></tr>
                <tr>
                    <th style="width:10%">NR</th>
                    <th style="width:65%">Tiekėjas</th>
                    <th>Parinktys</th>
                </tr>
                @foreach(var item in Model){
                    <tr style="text-align: center;">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a href='./RemoveSupplier?id=@item.Id' class='btn' style='background-color:#00d4ff; color:black'>Šalinti</a>
                        </td>
                    </tr>
                }
                <tr>
                    <th colspan="5"> &#160;</th>
                </tr>
            </table>
            <br>
        </div>
    </center>
</body>