@model IEnumerable<Baldu_Gamybos_IS.Models.GenericOrder>;

@{
    ViewData["Title"] = "Warehouse";
}
<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="~/css/warehouse.css"/>
        <style>
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .center {
                text-align:center;
            }

            #customers .wire {
                text-align: left; 
                position:relative; 
                right:9px;  
                border:0px
            }
    </style>
</head>
<body>
    <center>
        <div class="container box" style="width:85%; margin-bottom:2%; height:15%">
            <table id="customers" style="width:95%;">
                <tr style="background-color:white;">
                    <td colspan="5"  class="wire boxall" style="left:0px; width:95%">
                        <h4>
                            <b class="bold ">Sandėlio likučių sąrašas:</b>
                        </h4>
                    </td>
                    <br/>
                    <br/>
                </tr>
                <tr style="height: 40px;"></tr>
                <tr style="background-color:white;">
                    <td colspan="5" class="wire">
                        <a id="nj" href="naujasŽaliava" class="btn button" name="submit">Nauja žaliava</a>
                    </td>
                </tr>
                <tr>
                    <th style="width:10%">NR</th>
                    <th>žaliava</th>
                    <th style="width:65%">Kiekis</th>
                    <th style="width:10%">Kaina</th>
                    <th style="width:5%;">Parinktys</th>
                </tr>
                @foreach(var item in Model){
                    <tr>
                        <td class='center'>@item.Id</td>

                        <td>
                            <a href='./ChangeWarehouse?id=@item.Id' class='btn' style='background-color:#00d4ff; color:black'>Keisti</a>
                        </td>
                    </tr>
                }
                <tr>
                    <th colspan="5"> &#160;</th>
                </tr>
            </table>
            <br>
        </div>
    </center>
</body>