
@if (User.Identity.IsAuthenticated && User.IsInRole("pirkėjas")) {
    <h1>Pirkėjo pagrindinis langas</h1>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("darbuotojas")) {
    <h1>Darbuotojo pagrindinis langas</h1>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("vadybininkas")) {
    <h1>Vadybininko pagrindinis langas</h1>
}